services:
  - type: web
    name: telegram-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        value: "8228108336:AAF3OWn5-nYQjEZhNactyldXV9FW9kTtq9k"
